.navbar{
  padding: 0.2em 1em;
}

.navbar-nav .nav-item {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3em;
}

.nav-item a .btn {
  margin: 0;
  background-color: #ea4c89;
  color: #fff;
  border-radius: 0.4em;
  font-size: 0.9rem;
  font-weight: bold;
} 

.cart img{
  width: 2em;
  height: 2em;
}