.navbar{
  padding: 0.2em 1em;
}

.navbar-nav .nav-item {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3em;
}

.nav-item a .btn {
  margin: 0;
  background-color: #ea4c89;
  color: #fff;
  border-radius: 0.4em;
  font-size: 0.9rem;
  font-weight: bold;
} 

.cart{
  padding-top: 2px;
  font-size: 1.8em;

  &:hover{
    color: #000;
  }
}

.navbar-dark{
  .navbar-nav{
    .nav-item{
      .nav-link{
        color: #d4d3d3;
      }
      .cart{
        &:hover{
          color: #fff;
        }
      }
    }
  }
}