html {
  background-color: #000;
  box-sizing: border-box;
}

.container {
  .card {
    border: none;

    .images {
      position: relative;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #da0606;
      border-top: 1px solid #da0606;

      .product-img {
        position: absolute;
        right: 2em;
        left: 2em;
        top: 2em;
        bottom: 2em;
        width: 80%;
        height: 81%;
      }

    }

    .product {
      background-color: #eee;

      .brand {
        font-size: 13px
      }

      .act-price {
        color: rgba(10, 243, 25, 0.966);
        font-weight: 700
      }

      .dis-price {
        text-decoration: line-through
      }

      .about {
        font-size: 1em;
      }

      .ratings {
        padding-top: 0.2em;

        .rating-number {
          margin-right: 0.5em;
        }

        .rating-count {
          margin-left: 0.3em;
          color: #062851;

          &:hover {
            color: #c34c07;
            cursor: pointer;
          }
        }
      }

      .cart i {
        margin-right: 10px
      }

    }
  }

  &.dark-theme {
    .card{
      .product {
        background-color: #282828;
        color: #e6e3e3;
      }
    }
  }
}



