<div class="alert alert-danger" role="alert" *ngIf="wrongCredentials">
  We couldn’t find an account matching the username and password you entered. Please check your username and password and try again.
  <a routerLink="/signup" class="text-white text-bold">Or, Sign Up</a>
</div>
<div class="form">
  <h2>Sign in to My_e-com</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label for="username">Username or Email Address</label>
      <input type="text" id="username" formControlName="username">

      <div class="error-msg" *ngIf="username.touched">
        <small *ngIf="username.hasError('required')">
          Username is required
        </small>
      </div>
     

      <label for="passwordSignin">Password</label>
      <div class="password-field">
        <input type="password" id="passwordSignin" formControlName="password" #passwordInput>
        <i class="fa fa-eye" aria-hidden="true" (click)="onShowPassword(passwordInput)" [ngStyle]="{'color': showPassword ? '#000' : 'rgba(93, 91, 91, 0.944)'}" [ngClass]="showPassword ? '': 'fa-eye-slash'"></i>
      </div>
      <div class="error-msg" *ngIf="password.touched">
        <small *ngIf="password.hasError('required')">
          Password is required
        </small>
      </div>
    
    <input type="submit" value="Sign In" id="btnSignin">
  </form>
</div>