.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px auto;
  width: 500px;

  input[type=text],[type=email], [type=password]{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    &:focus{
      box-shadow: 0 0 8px #e681a8;
      outline-color: #ec81aa;
    }
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #ea4c89;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover{
      background-color: #e978a3;
    }
  }
  
  input.ng-invalid.ng-touched{
    border: 1px solid red; 
  }
  
  small{
    color: red;
    display: block;
    margin-bottom: 1.2em;
  }
  
  .password-div small{
    color: red;
    display: block;
    margin-bottom: 0.2em;
  }

  .password-field{
    position: relative;
    .fa-eye{
      font-size: 1.1em;
      position: absolute;
      top: 35%;
      right: 4%;
      cursor: pointer;
      color: rgba(93, 91, 91, 0.944);
    }
  }
}

