.header{
  display: flex;
  justify-content: space-around;
}
h1{
  text-align: center;
  margin: 1.2em 0.9em 0.9em 0.9em;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  place-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;

  app-product-card{
    place-self: center;
  }
}